/* public/css/custom.css */

/* General Card Styles */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222B40;
}

.card-header {
    background-color: #222B40;
    color: #fff;
    font-size: 1.25rem;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 20px;
    
}

/* Table Styles */
.table th, .table td {
    vertical-align: middle;
    padding: 12px;
}

.table th {
    background-color: #f8f9fa;
    color: #495057;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

/* Button Styles */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}