@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.btn-style-two,
.sec-title .title,
.list-style-one li .icon,
.main-slider .title,
.main-header .header-top .language>a,
.main-header .header-top .top-right .phone span,
.main-header .options-box .cart-box .cart-panel .btns-boxed li a:hover,
.main-header .header-top .top-left .social-nav li a:hover,
.main-slider .mouse-btn-down,
.list-style-two li .icon,
.update-block a span,
.blog-cat-two li a:hover,
.main-footer .links-widget .list-link li a:hover,
.news-widget-block .widget-inner h3 a:hover,
.main-footer .links-widget .list-link-two li a:hover,
.about-section .content-column .title,
.fact-counter .column .inner .count-outer,
.services-block-two .inner-box .lower-content h3 a:hover,
.projects-section .filters .filter-tabs .filter.active,
.projects-section .filters .filter-tabs .filter:hover,
.team-block .inner-box .lower-content h3,
.testimonial-block .inner-box .rating .fa,
.news-block .inner-box .lower-content h3 a:hover,
.main-footer .footer-bottom .footer-nav li a:hover,
.news-block .inner-box .image .overlay .read-more:hover,
.services-block-three .inner-box .upper-box h3 a,
.testimonial-section .testimonial-column .owl-nav .owl-prev:hover,
.testimonial-section .testimonial-column .owl-nav .owl-next:hover,
.project-block .inner-box .image .overlay-box .content h3 a:hover,
.main-header .header-top-two .top-left .phone span,
.main-header .header-top-two .language>a,
.fact-counter.style-two .column .inner .counter-title,
.about-section-two .content-column .about-option li .icon,
.newsletter-section-two .title-column .inner-column h2,
.testimonial-block-two .inner-box .upper-box .rating .fa,
.team-block-two .inner-box .image .overlay-box .upper-box .icon,
.team-block-two .inner-box .image .overlay-box .lower-box .social-nav li a:hover,
.news-block-two .inner-box .content-column h3 a:hover,
.testimonial-section-two .carousel-column .owl-nav .owl-prev:hover,
.testimonial-section-two .carousel-column .owl-nav .owl-next:hover,
.news-block-three .inner-box .lower-content h3 a:hover,
.default-section .info-column .info-boxed .title,
.default-section .info-column .social-box .social-nav li a:hover,
.main-footer .logo-widget .emergency,
.about-block .inner-block .icon,
.main-header .header-top-four .list li .fa,
.projects-section-three .owl-nav .owl-next,
.main-slider-four .slider-block .inner-block h2,
.main-header .header-top-four .top-right .phone span,
.services-block-five .inner-box .lower-content h3 a:hover,
.fact-counter.style-three .column .inner .count-outer,
.projects-section-three .owl-nav .owl-prev,
.team-block-four .inner-box .image .social-nav li a:hover,
.team-block-four .inner-box .lower-content h3 a:hover,
.team-section-five .sec-title-two h2,
.price-block .inner-box .title,
.testimonial-block-four .inner-box .upper-content .rating .fa,
.testimonial-block-four .inner-box .lower-content h3,
.testimonial-block-four .inner-box .upper-content .comment-icon,
.project-block-three .inner-box .lower-content .content h3 a:hover,
.news-block-six .inner-box .lower-content h3 a:hover,
.news-block-six .inner-box .lower-content .read-more,
.quote-section-two .form-column .sec-title-two h2,
.footer-bottom-three .social-nav li a:hover,
.services-detail-section .services-links-box li:hover .icon,
.services-detail-section .services-links-box li.active-btn .icon,
.services-detail-section .service-tabs .tab-btns .tab-btn:hover,
.services-detail-section .service-tabs .tab-btns .tab-btn.active-btn,
.project-detail-section .info-column .info-list li .icon,
.project-info-block .block-info .project-info .icon,
.new-posts .grid-view,
.shipping-block .inner-box h4,
.cart-section .totals-table .total .price,
.cart-table tbody tr .remove-btn:hover,
.categories-widget .blog-cat li a:hover,
.sidebar .popular-posts .post a:hover,
.checkout-page .default-links li a,
.checkout-page .default-links li .fa,
.sidebar .popular-posts .post .post-thumb .overlay-box,
.news-block-seven .inner-box .lower-content h3 a:hover,
.shop-item .inner-box .lower-content h3 a:hover,
.shop-item .inner-box .lower-content .price,
.shop-item .inner-box .lower-content .rating .fa,
.product-details .basic-details .details-header .item-price,
.product-details .basic-details .details-header .rating,
.shop-comment-form .rating-box .rating a:hover,
.order-box ul li span,
.contact-info-section .inner-container .info-box .box-inner .icon,
.news-block-seven .inner-box .image .overlay .read-more:hover,
.main-slider .owl-nav .owl-prev:hover,
.main-slider .owl-nav .owl-next:hover,
.services-detail-section .lower-content .owl-next:hover,
.services-detail-section .lower-content .owl-prev:hover {
    color: #fda700;
}

/*Background Color*/

.btn-style-two:before,
.main-header .options-box .login-box,
.main-header .search-panel .search-btn,
.btn-style-one:before,
.btn-style-three,
.btn-style-four:hover,
.newsletter-section.margin,
.btn-style-three:hover::before,
.services-block .inner-box:before,
.video-box .overlay-box span,
.sec-title .seperater:after,
.main-footer .footer-title:after,
.scroll-to-top:hover,
.btn-style-eleven:before,
.price-block .inner-box:hover,
.team-section-five .owl-dots .owl-dot.active,
.team-section-five .owl-dots .owl-dot:hover,
.services-block-two .inner-box .image .icon,
.page-title .bread-crumb:before,
.news-block-seven .inner-box .image .category,
.about-section-four .content-column .experiance-box .box-inner,
.ui-state-active,
.ui-widget-content .ui-state-active,
.services-block-two .inner-box .lower-content .plus,
.project-block .inner-box .image .overlay-box .plus-icon,
.main-header .options-box .cart-box .cart-panel .btns-boxed li a,
.blog-detail .inner-box .lower-content .author-box .post-date,
.main-header .header-top .language .dropdown-menu>li>a:hover,
.news-block .inner-box .image .category,
.newsletter-section .inner-container:before,
.testimonial-section-two .images-column .circle-two,
.testimonial-section-two .images-column .circle-three,
.services-block-three .inner-box:hover .content-box:before,
.blog-section .owl-dots .owl-dot.active,
.blog-section .owl-dots .owl-dot:hover,
.services-section .owl-dots .owl-dot.active,
.services-section .owl-dots .owl-dot:hover,
.main-header .header-top .top-left .trending-box .title-outer .title,
.main-header .header-top-two .language .dropdown-menu>li>a:hover,
.header-style-two .info-boxed:before,
.btn-style-six .txt,
.btn-style-six:after,
.blog-detail .inner-box .image .category,
.price-block .inner-box .print-btn,
.team-block-four .inner-box .author,
.services-block-three .inner-box:before,
.header-style-two .info-boxed .boxed-inner,
.news-block-two .inner-box .image-column .post-date,
.news-block-three .inner-box .image .post-date,
.news-block-six .inner-box .lower-content .author-box .post-date,
.header-style-one .main-menu .navigation>li:hover>a,
.header-style-one .main-menu .navigation>li.current>a,
.main-header .options-box .cart-box button .total,
.services-section-two .owl-dots .owl-dot.active,
.services-section-two .owl-dots .owl-dot:hover,
.about-section-two .video-column .inner-column,
.project-tab .product-tab-btns .p-tab-btn.active-btn,
.project-tab .product-tab-btns .p-tab-btn:hover,
.project-tab .product-tab-btns .p-tab-btn:before,
.testimonial-block-two .inner-box .upper-box:before,
.team-section-two .big-title,
.default-section:before,
.news-block-two .inner-box .image-column .image,
.news-block-three .inner-box .image,
.main-header .header-top-four .top-right .social-nav li a:hover,
.main-header.header-style-four .nav-outer,
.sec-title-two .title .left-separate:after,
.sec-title-two .title .right-separate:after,
.services-block-five .inner-box .image .read-more,
.services-block-five .inner-box .lower-content .icon,
.services-section-four .owl-dots .owl-dot.active,
.services-section-four .owl-dots .owl-dot:hover,
.main-footer .instagram-widget .images-outer .image-box .overlay-box,
.project-block-two .inner-box .image .overlay-box .content .read-more:after,
.project-block-two .inner-box .image .overlay-box .content .read-more,
.header-style-four .main-menu .navigation>li:hover>a,
.header-style-four .main-menu .navigation>li.current>a,
.projects-section-three .owl-nav .owl-prev:hover,
.projects-section-three .owl-nav .owl-next:hover,
.project-block-three .inner-box .lower-content .content .arrow,
.projects-section-three .more-projects .view-btn,
.project-block-three .inner-box .lower-content .post-info li a,
.testimonial-section-four .owl-dots .owl-dot.active,
.testimonial-section-four .owl-dots .owl-dot:hover,
.quote-form .form-group input[type="submit"],
.quote-form button,
.clients-section-three .owl-dots .owl-dot.active,
.clients-section-three .owl-dots .owl-dot:hover,
.footer-bottom-three,
.sidebar-title .seperater:after,
.sidebar .search-box .form-group button,
.accordion-box .block .icon-outer,
.cart-section .coupon-btn,
.main-menu .navbar-header .navbar-toggler,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn:hover,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn.active-btn,
.blog-detail .inner-box .lower-content .text blockquote .icon,
.sidebar-page-container .comments-area .comment .comment-reply,
.main-footer .newsletter-form.style-two .form-group button,
.contact-form .form-group input[type="submit"],
.contact-form button {
    background-color: #fda700;
}

/*Border Color*/

.btn-style-one,
.btn-style-two,
.update-block a,
.price-block .inner-box:before,
.main-menu .navigation>li>ul,
.main-header .search-box-outer .dropdown-menu,
.main-menu .navigation>li>ul>li>ul,
.main-header .options-box .cart-box .cart-panel,
.main-header .header-top .language .dropdown-menu,
.skills .skill-item .skill-bar .bar-inner .bar,
.about-section .video-column .image:before,
.services-block-two .inner-box .lower-content,
.default-form .form-group input:focus,
.default-form .form-group select:focus,
.default-form .form-group textarea:focus,
.team-block .inner-box:hover::before,
.main-menu .navbar-header .navbar-toggler,
.projects-section-three .owl-nav .owl-prev,
.projects-section-three .owl-nav .owl-next,
.services-block-five .inner-box .lower-content,
.testimonial-section .testimonial-column .owl-nav .owl-prev:hover,
.testimonial-section .testimonial-column .owl-nav .owl-next:hover,
.ui-state-active,
.ui-widget-content .ui-state-active,
.main-header .header-top-two .language .dropdown-menu,
.testimonial-section-two .carousel-column .owl-nav .owl-prev:hover,
.testimonial-section-two .carousel-column .owl-nav .owl-next:hover,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.main-header .options-box .cart-box .cart-panel .btns-boxed li a,
.quote-form .form-group input:focus,
.quote-form .form-group select:focus,
.quote-form .form-group textarea:focus,
.blog-detail .inner-box blockquote,
.services-detail-section .lower-content .owl-next:hover:before,
.services-detail-section .lower-content .owl-prev:hover:before,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.shipping-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="password"]:focus,
.shipping-form .form-group input[type="tel"]:focus,
.shipping-form .form-group input[type="email"]:focus,
.shipping-form .form-group select:focus,
.shipping-form .form-group textarea:focus,
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.coupon-form .form-group input[type="text"]:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus {
    border-color: #fda700;
}

.btn-style-six:before,
.project-tab .product-tab-btns .p-tab-btn:after,
.project-block-two .inner-box .image .overlay-box .content .read-more:before,
.main-header .header-top .top-left .trending-box .title-outer:before {
    border-bottom-color: #fda700;
}

.btn-style-five:before {
    border-right-color: #fda700;
}

.services-block-five .inner-box .image .read-more:before {
    border-top-color: #fda700;
}

.video-box .ripple,
.video-box .ripple:before,
.video-box .ripple:after {
    -webkit-box-shadow: 0 0 0 0 rgba(253, 167, 0, .6);
    -moz-box-shadow: 0 0 0 0 rgba(253, 167, 0, .6);
    -ms-box-shadow: 0 0 0 0 rgba(253, 167, 0, .6);
    -o-box-shadow: 0 0 0 0 rgba(253, 167, 0, .6);
    box-shadow: 0 0 0 0 rgba(253, 167, 0, .6);
}

/* RGBA Color */

.steps-section:before {
    background-color: rgba(253, 167, 0, 0.90);
}

.team-block .inner-box .image .social-nav:before {
    background-color: rgba(253, 167, 0, 0.80);
}

.main-slider-two .client-thumb-outer .thumb-item .thumb-box:before {
    background-color: rgba(253, 167, 0, 0.70);
}

@media only screen and (max-width: 767px) {
    .main-menu .navbar-header .navbar-toggle {
        border-color: #fda700;
    }
    .main-menu .navbar-header .navbar-toggle,
    .main-menu .navbar-collapse>.navigation,
    .main-menu .navbar-collapse>.navigation>li>ul,
    .main-menu .navbar-collapse>.navigation>li>ul>li>ul,
    .main-menu .navbar-collapse>.navigation>li>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li>ul>li>a,
    .main-menu .navbar-collapse>.navigation>li>a:hover,
    .main-menu .navbar-collapse>.navigation>li>a:active,
    .main-menu .navbar-collapse>.navigation>li>a:focus,
    .main-menu .navbar-collapse>.navigation>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li>ul>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li.current>a,
    .main-menu .navbar-collapse>.navigation>li.current-menu-item>a,
    .header-style-two.inner-header .main-menu .navigation>li>a {
        background-color: #fda700;
    }
}